<!DOCTYPE html>
<html>
<body>
<body>
<table><!-- Comment -->
	<h1>Welcome</h1>
	<tr>
			<form id = 'Form1' method = 'POST' action="../select">
				
					<!--<textarea id='QueryFromHTML'rows="4" cols="50">
						Enter your query here...
					</textarea>-->
					Cluster: <input type="text" id="QueryFromHTML" name="ClusterNumber" value=""><br>
					<!--Last name: <input type="text" name="LastName" value="Mouse"><br>-->
				<br>
				<input type="submit" value="Submit">
					
			</form>
	</tr>

	
	<div>
		<h3>Name: Sagar Chhadia</h3>
		<h3>ID: 3987</h3>
		<h3>Batch: 3:30 - 5:30</h3>
	</div>
</body>
</html>